@page 
@model GetClientModel
@{
    ViewData["Title"] = "Patient List";
}
@using ExcelImportApp.Model
@inject HttpClient ClientHttp



<h1>Patient List</h1>

<p>This component demonstrates fetching data from a patient spreadsheet.</p>

@if (Model.ClientModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-success table-striped">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.ClientModels)
            {
                <tr>
                    <td> @patient.Title </td>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.DateOfBirth</td>
                    <td>@patient.IdNr</td>
                    <td>@patient.EmailAddress</td>
                    <td>@patient.TelNr</td>
                    <td>@patient.MedicalScheme</td>
                    <td>@patient.MedicalSchemePlan</td>
                    <td>@patient.MemberNr</td>
                    <td>@patient.DepartmentNr</td>
                </tr>
            }
        </tbody>
    </table>
}

